* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(45deg, #21092f, #421458); */
}

.container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  gap: 2rem;
  padding: 2rem;
}

.card-container {
  flex: 1;
  position: relative;
  min-height: 500px;
}

.card-front,
.card-back {
  position: absolute;
  width: 400px;
  height: 220px;
  border-radius: 10px;
  padding: 20px;
  color: white;
  background-size: cover;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
}

.card-front {
  top: 20%;
  /* background: linear-gradient(45deg, #6448fe, #600594, #ff5555); */
  background-image: url("/assets/image/bg-card-front.png");
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-back {
  top: 50%;
  left: 20%;
  /* background-color: #ddd; */
  background-image: url("/assets/image/bg-card-back.png");
}

.card-logo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.card-logo::before {
  content: "";
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
}

.card-logo::after {
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 50%;
}

.card-number {
  font-size: 1.8rem;
  letter-spacing: 2px;
  margin: 20px 0;
}

.card-details {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.card-back .cvc {
  color: #222;
  text-align: right;
  padding: 10px;
  margin-top: 40px;
}

.form-container {
  flex: 1;
  padding: 2rem;
}

.form-group {
  margin-bottom: 1.5rem;
}

label {
  display: block;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 2px;
  margin-bottom: 0.5rem;
  color: #21092f;
}

input {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
}

input:focus {
  outline: none;
  border-color: #6448fe;
}

.exp-cvc-container {
  display: flex;
  gap: 1rem;
}

.exp-date {
  display: flex;
  gap: 0.5rem;
}

.exp-date input {
  width: 70px;
}

button {
  width: 100%;
  padding: 1rem;
  background: #21092f;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #421458;
}

::placeholder {
  color: #ddd;
}
